html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #000000;
    background-color: #ffffff;
}