main {
    margin-top: 1px;
}

#homeSection {
    height: 1000px;
    background-image: url('../images/background5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
}

#developerCaptionContainer {
    position: relative;
    // top: 122px;
    top: 138px;
}

.captionText {
    background: #000000;
    color: white;
    padding: 22px;
    letter-spacing: 20px;
}

.name-caption {
    position: absolute;
    left: 573px;
}

.title-caption {
    position: absolute;
    left: 685px;
    top: 63px;
}