#homeContainer {
    .home-section-header {
        letter-spacing: 4px;
        font-size: 13px;
        font-weight: normal;
    }

    .common-sections {
         height: 100px;
         padding: 70px 60px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
    }

    // Photo by Team UI8 on Unsplash
    #homeSectionOne {
        height: 700px;
        background-image: url('../images/img.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.85;

        #developerCaptionContainer {
            position: relative;
            top: 130px;
        }

        .name-caption {
            position: absolute;
            top: 206px;
            right: 0;
            width: 30%;
            left: -50px;
            padding: 15px;
            margin: 0 auto;
            box-shadow: 0 0 80px black;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            text-align: center;
            background: rgba(0, 0, 0, 0.87);
            color: #615b5b;
            letter-spacing: 20px;
            font-size: 12px;
            transform: rotate(-11deg);
        }
    }

    #devInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 60px;
        background-color: #11161D;
        color: #2f3f52;

        #leftArticle {
        }

        #rightArticle {
        }

        .about-me-article {
            width: 48%;
        }

        h1 {
            color: #888787;
            margin: 12px 0 35px 0;
        }
       
        p {
            word-spacing: 5px;
            line-height: 35px;
        }
    }

    #homeSectionTwo {
        background-color: #f8f8ff;

        h1 {
            position: relative;
            top: -30px;
            color: #000000;
        }

        #technologiesListContainer {
            text-align: center;
            padding: 10px;
            width: 100%;
            overflow-x: scroll;
        }

        .colored {
            font-size: 25px;
            margin: 0 22px;
        }
    }

    #expSection {
         background-color:#11161D;

         h1 {
             position: relative;
             top: -30px;
             color: #888787;
         }

         #companiesContainer {
         }

         .company-img {
            margin: 0 55px;
        }
    }

    @include small-mobile-screen {
            * {
                font-size: 10px;
            }

            .home-section-header {
                font-size: 10px;
            }

            #homeSectionOne {
                .name-caption {
                    line-height: 25px;
                    text-align: center;
                    left: 0;
                    width: 80%;
                }  
            }

            #devInfo {
              flex-direction: column; 
                
                .about-me-article {
                    width: auto;
                }

                #leftArticle {
                    margin-bottom: 20px;
                }

                #rightArticle {
                }
            }

            #expSection {
                #companiesContainer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                }

                .company-img {
                    margin: 0;
                }
        }
    }
}