#homeContainer {

    // Photo by Team UI8 on Unsplash
    #homeSectionOne {
        height: 700px;
        background-image: url('../images/img.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.85;

        #developerCaptionContainer {
            position: relative;
            top: 138px;
        }

        .captionText {
            background: #000000;
            color: #615b5b;
            padding: 22px;
            letter-spacing: 20px;
            font-size: 12px;
        }

        .name-caption {
            position: absolute;
            top: 160px;
            right: 0;
            box-shadow: 0 0 20px black;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
        }
    }

    #devInfo {
        height: 500px;
        padding: 40px;
        background-color: #171E27;
        position: relative;
        color: #2f3f52;
        border-top: 2px solid #4169e1;

        img {
            position: absolute;
            width: 290px;
            height: 290px;
            top: 0;
            bottom: 0;
            left: 96px;
            border: 1px solid white;
            margin: auto;
            border-radius: 20%;
        }

        #leftArticle {
            position: absolute;
            left: 40px;
            width: 45%;
        }

        #rightArticle {
            position: absolute;
            right: 40px;
            width: 45%;
        }
        h1 {
            color: #c1c1c1;
            letter-spacing: 6px;
            font-size: 15px;
            margin: 12px 0 35px 0;
            font-weight: normal;
        }
        p {
            word-spacing: 5px;
            line-height: 35px;
        }
    }

    #homeSectionTwo {
        height: 180px;
        background-color: #272259;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            text-align: center;
            color: #c1c1c1;
            letter-spacing: 6px;
            font-size: 15px;
            // margin-bottom: 55px;
            margin: 12px 0 55px 0;
            font-weight: normal;
            margin-top: -30px;
            margin-bottom: 35px;
        }
        #technologiesListContainer {
            text-align: center;
        }
        .colored {
            font-size: 25px;
            margin: 31px;
        }
    }

    #expSection {
         height: 180px;
         background-color: #E0E2DB;
         padding: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;

         h1 {
             text-align: center;
             color: black;
             letter-spacing: 6px;
             font-size: 15px; // margin-bottom: 55px;
             margin: 12px 0 55px 0;
             font-weight: normal;
             margin-top: -30px;
             margin-bottom: 35px;
         }

         #companiesContainer {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
         }

         .company-img {
             margin-left: 50px;
         }
    }
}