#header {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    #burgerMenu {
        display: none;
    }
    nav {
        display: block;
        width: 60%;
        margin-left: 40px;
        &>a {
            font-size: 14px;
            margin: 0 10px;
            padding: 16px 20px;
            text-decoration: none;
            color: #404040;
            transition: .5s;
        }
        &>a:hover {
            background-color: #f5f5f5;
            color: #4169e1;
        }
    }
    #headerIconsContainer {
        display: inline;
        position: absolute;
        right: 40px;
        top: 0;
        .header-icon {
            padding: 5px;
            background: royalblue;
            border-radius: 50%;
            color: white;
            margin: 0 10px;
            border: 3px outset white;
            transition: .5s;
        }
        .header-icon:hover {
            cursor: pointer;
            box-shadow: 0 0 1px black;
        }
    }
}

@media screen and (max-width: 900px) {
    #header {
        #burgerMenu {
            display: inline;
            margin-left: 15px;
            font-size: 22px;
            transition: 0.5s;
        }
        nav {
            display: none;
            width: auto;
            margin: 0 auto;
            &>a {
                display: block;
                text-align: center;
                margin: 0;
            }
        }
        .navMobile {
            display: block;
        }
        #headerIconsContainer {
            display: none;
        }
    }
    .headerMobile {
        height: 300px !important;
    }
}